[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/asio"]
	path = contrib/asio
	url = https://github.com/chriskohlhoff/asio.git
